<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="UseDevelopmentStorage=true" />
    <add name="AzureWebJobsStorage" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <appSettings>
    <!-- Project-specific app settings -->
    <add key="WebJob_Disabled" value="false" />
    
    <add key="EventStoreConnectionString" value="ConnectTo=tcp://localhost:1113;HeartbeatTimeout=20000" />
    <add key="EventStoreAdminUser" value="admin" />
    <add key="EventStoreAdminPassword" value="changeit" />
  </appSettings>
</configuration>